.first-container {
  background: linear-gradient(white 50%, black 50%);
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 150px;
}

.top-white {
  text-align: center;
  padding-top: 100px;
}

.cover-photo {
  width: 90%;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-img {
  flex-shrink: 0;
  width: 400px;
  padding: 10px;
}

.middle-white {
  display: flex;
  padding-top: 60px;
  width: 95%;
  background-color: white;
}

.middle-white-left {
  width: 50%;
}

.middle-white-right {
  width: 50%;
  text-align: left;
  padding: 50px;
}

.plating-img {
  max-width: 100%; /* Ensures the image does not exceed the container width */
  height: auto; /* Keeps the aspect ratio intact */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.about-jess-text {
  line-height: 1.6;
}

.bottom-black {
  background-color: black;
  padding: 40px;
}

.link-table {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 40px;
  border-bottom: 1px solid white;
  transition: border-color 0.3s ease; /* Smooth transition for the border */
}

.link-table:hover {
  border-bottom: 1px solid #FFBE98; /* Change border color on hover */
}

.medium-header {
  color: white;
  transition: color 0.3s ease; /* Smooth transition for text color */
}

.link-table:hover .medium-header {
  color: #FFBE98; /* Change text color on hover */
}

.view-portfolio {
  color: white;
  border: 1px solid white;
  transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for button */
}

.link-table:hover .view-portfolio {
  color: #FFBE98; /* Change button color on hover */
  border-color: #FFBE98; /* Change button border color on hover */
}
