.first-container {
  background: linear-gradient(white 50%, black 50%);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding-top: 100px;
}

.top-black {
  text-align: center;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.cover-photo {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-img {
  flex-shrink: 0;
  width: 400px;
  padding: 10px;
}

.middle-white {
  display: flex;
  width: 95%;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.middle-white-left,
.middle-white-right {
  width: 50%; /* Ensure both sections take up 50% of the container */
  flex: 1; /* Flexbox property to ensure equal width for both sections */
}

.middle-white-right {
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black !important;
}

.middle-white-left {
  overflow: hidden; /* Ensures any overflow from the image is hidden */
}

.plating-img {
  width: 100%; /* Ensure the image fills the width of its container */
  height: 100%; /* Ensure the image fills the height */
  object-fit: cover; /* Allow some cropping while maintaining aspect ratio */
}



.about-jess-text {
  line-height: 2.5;
}

.bottom-black {
  background-color: black;
  padding: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.link-table {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-top: 40px;
  border-bottom: 1px solid white;
  transition: border-color 0.3s ease; /* Smooth transition for the border */
}

.link-table:hover {
  border-bottom: 1px solid #FFBE98; /* Change border color on hover */
}

.medium-header {
  color: white;
  transition: color 0.3s ease; /* Smooth transition for text color */
  width: 100%;
}

.link-table:hover .medium-header {
  color: #FFBE98; /* Change text color on hover */
}

.view-portfolio {
  color: white;
  border: 1px solid white;
  transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for button */
}

.link-table:hover .view-portfolio {
  color: #FFBE98; /* Change button color on hover */
  border-color: #FFBE98; /* Change button border color on hover */
}

@media (min-width: 1600px) {
  /* CSS rules for large screens go here */
  .middle-white-right {
    padding-top: 250px;
  }
}

@media screen and (max-width: 768px) {
  .first-container {
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .cover-photo {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 95%;
  }

  .top-black {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 30px;
  }

  .middle-white {
    display: flex;
    width: 95%;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    min-height: 100vh; /* Ensure the section takes up full viewport height */
    padding-top: 50px;
    padding-bottom: 50px; /* Optional, you can adjust padding for spacing */
  }

  .middle-white-left, .middle-white-right {
    width: 100%; /* Make each section full width */
  }

  .middle-white-right {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    text-align: center;
  }

  .plating-img {
    width: 100%; /* Ensure the image takes full width on mobile */
    height: auto; /* Adjust height to maintain aspect ratio */
  }

  .scroll-img {
    width: 200px;
  }

  .about-jess-text {
    font-size: 1rem; /* Reduce text size for mobile readability */
    line-height: 1.7;
  }

  .white-text {
    color: white !important;
  }

  .link-table {
    white-space: nowrap; /* Prevent text wrapping inside the link table */
  }

  .medium-header {
    white-space: nowrap; /* Prevent text wrapping for the headers */
  }

  .button-box {
    white-space: nowrap; /* Prevent button text from wrapping */
  }


}
