.nav-sig {
  padding-left: 50px;
  font-weight: 600;
}

.nav-bar-jess {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.custom-nav-links {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
  width: 500px;
}

.nav-link-item {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav-link-item:hover {
  color: #FFBE98 !important;
  background: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 12px;
  height: 20px;

}

.nav-link-item:visited {
  color: black;
}
